.container {
  cursor: pointer;
  height: 100%;
  position: relative;
  transition: .2s ease-in-out;
  width: 100%;

  &::after {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    content: '';
    display: block;
    filter: blur(5px);
    height: 12px;
    transform: translateY(20px);
    transition: .2s ease-in-out;
    width: 100%;
    margin: 0 auto;
  }

  &:hover {
    transform: translateY(-5px);

    &::after{
      transform: translateY(25px);
      width: 90%;
      height: 8px;
    }
  }
}

.card {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  position: relative;;
  overflow: hidden;
  width: 100%;

  &-image {
    filter: saturate(95%);
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
  }

  &-text{
    background-color: #fff;
    bottom: 0;
    display: flex;
    height: 100%;
    transform: translateY(230px);
    justify-content: center;
    position: absolute;
    width: 100%;
    transition: .5s ease-in-out;

    &:hover {
      transform: translateY(0);
      opacity: .8;
    }

    &-title {
      font-size: 16px;
      margin-top: 5px;
      text-align: center;
    }
  }
}
