@import 'variable';

.container {
  background-size: cover;
  background: transparent url(../../assets/images/background.jpg) fixed no-repeat;
  height: 100%;
  overflow-y: auto;
  transition: 1s ease-out;
  width: 100%;

  &-after-search {
    background: $radialBackground;
  }
}

h1, p {
  color: #fff;
  margin: 5px 0;
  text-align: center;
  transition: .2s ease-out;
  width: 50%;
}

.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  place-content: center;
  place-items: center;
  transition: .5s ease-in-out;
  width: 100%;

  &-after-search {
    background-color: #fff;
    height: 40px;
    position: fixed;
    z-index: 2;
  }
}

.hidden {
  visibility: hidden;
}

.search {
  color: #fff !important;
  transition: .4s ease-in-out;

  &-after-search {
    color: #000;
    position: fixed;
    transform: translateY(4px);
    width: 100%;
    z-index: 3;
  }
}

.container-cards {
  display: grid;
  grid-auto-rows: 270px;
  grid-gap: 50px;
  grid-template: 270px / repeat(auto-fill, 170px);
  justify-items: center;
  margin-top: 40px;
  max-height: 100%;
  object-fit: cover;
  padding: 25px;
}
